/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vscode
public/js/show-map.js
public/js/search.js
public/js/place-create.js
public/js/app.js
public/mix-manifest.json
